## {{ ansible_managed }}
##
## https://wiki.archlinux.org/index.php/Power_management#Audio
##
## By default, audio power saving is turned off by most drivers. It can be
## enabled by setting the power_save parameter, a time (in seconds) to go into
## idle mode. Idle the audio card after one second.
##
options snd_hda_intel power_save=1
