## {{ ansible_managed }}
##
## EXPERIMENTAL
##
## https://wiki.archlinux.org/index.php/Power_management#Intel_wireless_cards
##
## Additional power saving functions of Intel wireless cards with iwlwifi driver
## can be enabled by passing the correct parameters to the kernel module.
##
options iwlwifi power_save=1 d0i3_disable=0 uapsd_disable=0
