## {{ ansible_managed }}
##
## https://wiki.archlinux.org/index.php/Power_management#Disabling_NMI_watchdog
##
## Increasing the virtual memory dirty writeback time helps to aggregate disk
## I/O together, thus reducing spanned disk writes, and increasing power saving.
## Set the value to 60 seconds (default is 5 seconds).
##
vm.dirty_writeback_centisecs = 6000
