## {{ ansible_managed }}
##
## https://wiki.archlinux.org/index.php/Power_management#Disabling_NMI_watchdog
##
## The NMI watchdog is a debugging feature to catch hardware hangs that cause a
## kernel panic. On some systems it can generate a lot of interrupts, causing a
## noticeable increase in power usage.
##
kernel.nmi_watchdog = 0
