## {{ ansible_managed }}
##
## https://wiki.archlinux.org/index.php/Power_management#USB_autosuspend
##
## The Linux kernel can automatically suspend USB devices when they are not in
## use. This can sometimes save quite a bit of power, however some USB devices
## are not compatible with USB power saving and start to misbehave (common for
## USB mice/keyboards). Udev rules based on whitelist or blacklist filtering
## can help to mitigate the problem.
## The most simple example is enabling autosuspend for all USB devices.
##
ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{power/control}="auto"

## Explicitly autosuspend "Sierra Wireless EM7455 Qualcomm Snapdragon X7 LTE-A".
ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{idVendor}=="1199", ATTR{idProduct}=="9079", ATTR{power/control}="auto"
