## {{ ansible_managed }}
##
## https://wiki.archlinux.org/index.php/Power_management#Network_interfaces
##
## Wake-on-LAN can be a useful feature, but if you are not making use of it then
## it is simply draining extra power waiting for a magic packet while in suspend.
## Disable for all Ethernet interfaces.
##
ACTION=="add", SUBSYSTEM=="net", KERNEL=="eth*", RUN+="/usr/bin/ethtool -s %k wol d"
