## {{ ansible_managed }}
##
## https://wiki.archlinux.org/index.php/Power_management#Network_interfaces
##
## Enable powersaving on all wireless interfaces.
##
ACTION=="add", SUBSYSTEM=="net", KERNEL=="wlan*", RUN+="/usr/bin/iw dev %k set power_save on"
